.camera-ring-light {
  overflow: hidden;
}

.camera-ring-light::after {
  position: absolute;
  inset: calc(var(--camera-ring-width) / 2);
  border-radius: clamp(2rem, 4vw, 5rem);
  box-shadow:
    0 0 0 100vmax var(--camera-ring-color),
    inset 0 0 calc(var(--camera-ring-width) / 2) var(--camera-ring-color);
  content: "";
}
