{
  "AudioCaptureAllowedUrls": [{{ endpoint_effective_coordinator_origin | to_json }}],
  "OverrideSecurityRestrictionsOnInsecureOrigin": [{{ endpoint_effective_coordinator_origin | to_json }}],
  "VideoCaptureAllowedUrls": [{{ endpoint_effective_coordinator_origin | to_json }}]
}
